<!DOCTYPE html>
<html>
<head>
    <title>OTP Verification</title>
</head>
<body>

<h2>OTP Verification</h2>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="POST">

    {% csrf_token %}

    <input
        type="text"
        name="otp_code"
        placeholder="Enter OTP"
        required
    >

    <button type="submit">
        Verify OTP
    </button>

</form>

<br>

<a href="{% url 'resend_otp' %}">
    Resend OTP
</a>

</body>
</html>